// colores

$blanco: white;

$negro: black;

$azulcito: #9cf1ea;

$azulcitooscuro: #7dbae6a4;

$amarillito: #F8D100;

$naranjaDS: #D37150;

$animacionUno: #F9FCB6;

$animacionDos: #F8D100;

$animacionTres: #f77700;

$animacionCuatro: #DB4B23;

$link: hsl(206, 80%, 38%);

$linkhover: hsl(206, 100%, 58%);